body {
   background: linear-gradient(#9E6AE0, #F07591), #F07591;
    font-family: 'sora', sans-serif;
    height: 100vh;
    overflow: hidden;
    padding: none;
    margin: 0;
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}


header {
    width: 90%;
    max-width: 1400px;
    margin: 10px auto;
    height: 80px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media {
    display: flex;
    gap: 1.5em;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

.page-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    max-width: 1350px;
    margin: auto;
}

.hero {
    width: 90%;
    /* max-width: 1250px; */
    height: 100%;
    margin: 0 auto;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
    padding-bottom: 0%;
    z-index: 0;
    position: relative;
}

.popup {
    position: absolute;
    background-color: rgba(21, 21, 21, 0.221);
    color: hsl(53, 0%, 0%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    top: 0%;
     
    visibility: hidden;
 }
 .popup button {
    position: relative;
    right: -95%;
    top: 3%;
    width: fit-content;
    border: none;
   background-color: #ffffff00;
   cursor: pointer;

 }
 .popup div {
    background-color: #E5EAFB;
    width: fit-content;
    height: fit-content;
    min-height: 450px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
    box-shadow: 0px 20px 20px  rgba(49, 49, 51, 0.2);
    font-size: 1.2rem;
    padding-bottom: 40px;
    margin: 10%;

 }
 .popup p {
    max-width: 60ch;
    margin: 5px 10%;
    
 }
 .popup h3 {
    max-width: 60ch;
    margin: 20px 10%;
    font-size: 1.5rem;
    
 }

.showPopup {

    visibility: visible;
}


h1 {
    font-family: Sora;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: 0em;
    text-align: left;
    max-width: 20ch;
}

h1 em {
    color: #54EDA3;
    font-style: normal;
}

h3 {
    font-weight: 700px;
    max-width: 35ch;
}

.download-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 19px;
    justify-content: flex-start;
}

.download {
    width: auto;
    min-width: 189px;
    height: 54.74px;
}

.hero-content {
    height: 85%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1em;
    justify-content: space-evenly;
    position: relative;
    left: 5%;
}
.hero-content button {

    background-color: #ffffff00;
    color: white;
    font-size: 1rem;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    letter-spacing: 2px;
}

h5 {
    margin-bottom: 10px;
    color: white;
    font-weight: 400;
    font-size: 1rem;
}

.download-container {
    display: flex;
    flex-direction: column;
}


/*slider animation*/
.slide_out {
    /* animation: 15s ease-in-out 2s infinite both slide ; */
    animation: 5s ease-in-out 1s infinite running slidein;
}

@keyframes slidein {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50%);

    }



    94% {
        transform: translateX(-50%);
    }

    98% {
        opacity: 100%;
    }

    99% {
        transform: translateX(-100%);
        opacity: 0%;

    }

    100% {
        transform: translateX(0%);
        opacity: 0%;

    }

}

/*slider animation*/

.hero-text {
    width: 100%;
    max-width: 600px;
    /* background-color: #54eda329; */
}

.slide_container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;

    /* justify-content: space-between; */
}

.slide-frame {
    width: 50vw;
    /* border: 2px white; */
    /* background-color: #9E6AE0; */
    /* overflow: hidden; */
    /* box-sizing: border-box; */
}

.hero-image {
    height: 90vh;
    max-height: 800px;
    width: auto;
    bottom: 0px;
    margin-bottom: 0px;
    position: relative;
    bottom: 0%;
    right: 15%;


}

.screenshot {

    width: auto;
    height: 85vh;
    max-height: 800px;
    min-height: 500px;
    position: absolute;
    right: 11%;
    bottom: 2%;
    z-index: 5;

}

.footer {

    width: 100vw;
    height: 10%;
    background-color: #0F1E50;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.brand-logos {
    width: 90%;
    max-width: 1350px;
    display: flex;
    flex-direction: row;
    gap: 5em;
}


@media (max-width: 1080px) {
    .screenshot {
        right: -10%;
    }

    .hero-image {
        position: absolute;
        right: 20%;
        opacity: 50%;
        z-index: -1;
    }

    .footer {
        justify-items: center;
        display: flex;
    }

    .brand-logos {
        gap: 1.5em;
        width: 80%;
        margin-left: 0%;
    }
}

@media (max-width: 900px) {
    .screenshot {
        opacity: 0%;
    }

    .hero-image {
        position: absolute;
        right: 8%;
        opacity: 50%;
        z-index: -1;
    }

    .footer {
        display: none;
    }

}




@media (max-width: 600px) {
    .screenshot {
        opacity: 0%;
    }

    .hero-image {
        position: absolute;
        opacity: 50%;
        z-index: -1;
        right: 0%;
    }

    .footer {
        display: none;
    }

}

@media screen and (max-width: 500px) {
    .screenshot {
        opacity: 0%;
    }

    /* .hero-content{
height: 100%;
display: hidden;
} */
    .hero-image {
        position: absolute;
        opacity: 50%;
        z-index: -1;
        right: 0%;
        bottom: -5;
    }
.hero-content {
    left: 0%;
}
    .hero-text {
        width: 95vw;
        padding-right: 150px;
    }

    .slide-frame {
        width: 90vw;
    }

    h1 {
        width: 90vw;

    }

    h3 {
        width: 90vw;
    }

    .download-buttons {
        gap: 10px;
    }

}